*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav {
    padding: 30px;
    height: 100px;
    background: #ccc;
    position: fixed;
    width: 100%;
    a{
        display: inline-block;
        padding: 0 20px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        
    }
}

section {
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    color: white;
    &:nth-of-type(odd) {
        background: rgb(84, 86, 167);
    }
    &:nth-of-type(even) {
        background: rgb(228, 162, 208);
    }
}

#gotop{
    background-image: url(./top.png);
    width: 30px;
    height: 30px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
    
}